.nav {
    height: 70px;
    background-color: white;
    box-shadow: 0 4px 2px -2px rgb(209, 209, 209);
    z-index: 1; 
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.nav-logo {
    height: 34px;
    width: 91px;
    margin-left: 20px;
    display: inline-block;
}
.nav-button{
  background-color: white; /* Green */
  border: none;
  display: inline-block;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.4;
  font-size: 0.8rem;
  color: rgb(65,65,65);
}

.nav-button:hover{
    color: blueviolet;
}
.search-form{
    display: inline-block;
}
input[type="search"] {
  font-family: FontAwesome;
}
.search-area{
    background-image: url("http://kodyrabatowe.wp.pl/img/ico/search_gr.png") ;
    height: 45px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 14px;
    padding: 5px 5px 5px 5px;
    margin-right: 10px;
    flex-grow: 1;
    margin-top: 15px;
    margin-bottom: 15px;
}
.nav-r-box{
    display: inline-block;
    padding: 10px;
    /*float: right;*/
    justify-content: center;
  	align-items: center;
    margin: auto;
}
.nav-l-box{
    display: flex;
    padding: 10px;
    float: left;
    justify-content: center;
  	align-items: center;
    margin: auto;
}
.search-button{
    background-color: white; /* Green */
    border: none;
    display: inline-block;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.4;
    font-size: 1rem;
  }
  
.search-button:hover{
      color: blueviolet;
  }
  .nav-login-button{
    background-color: white; /* Green */
    border: 1px solid black;
    display: inline-block;
    font-family: sans-serif;
    font-weight: 600;
    line-height: 1.4;
    font-size: 1rem;
    height: 40px;
  }

  .nav-sign-up-button{
    background-color: black; /* Green */
    border: 1px solid black;
    display: inline-block;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    line-height: 1.4;
    font-size: 1rem;
    height: 40px;
  }

  .nav-last-button{
    background-color: white; /* Green */
    border: 1px solid black;
    display: inline-block;
    color: white;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.4;
    font-size: 1rem;
    height: 40px;
    
  }
  .world-grid{
    height: 30px; 
    width: 30px;
    margin: auto;
    margin-top: 2px;
  }
  .search-form{
    display: flex;
    flex-grow: 1;
  }
  /*------------------------------------------------------------------------------- */
  .med-container{
    display: flex;
    width: 80%;
    /*height: 50%;*/
    background-color: rgb(249, 249, 249);
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top:68px;
    right: 10%;
  }

  .left-text-container{
    display: flex;
    flex-direction: column;
    padding: 10px 4px 4px 15px;
    width: 25%;
    background-color: white;
    justify-content: center;
  }
.right-img-container{
    margin-top: 3px;
}
.New-text{
    font-size: 1.9rem;
    font-weight: 600;
}
.price-text{
  font-family: Calibri;
    font-size: 1.1rem;
    font-weight: 400;
}

